{% extends 'form/base.html' %}

{% block title %}
    Medical Clerking Pre-Sedation
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'get_patient_information' patient.patient_id %}">
        {{patient.name}}
    </a>
</li>
<li class="breadcrumb-item active">
    Medical Clerking Pre-Sedation
</li>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% load widget_tweaks %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}

                 {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                             </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <a class="btn btn-secondary" href="{% url 'get_patient_information' patient.patient_id %}"> Back </a>
        <button class="btn btn-success" type="submit">Save</button>
    </form>
{% endblock %}
