{% extends 'form/base.html' %}

{% block title %}
Consent to Photography or Video Recording
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    <a href="{% url 'get_patient_information' patient.patient_id %}">
        {{patient.name}}
    </a>
</li>
<li class="breadcrumb-item active">
    Consent to Photography or Video Recording
</li>
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% load widget_tweaks %}
        <div class="col-12">
            <h1>CONSENT TO PHOTOGRAPHY OR VIDEO RECORDING</h1>
            <form action="" method="post">
            <p>   Great Ormond Street Hospital for Children NHS Foundation Trust has adopted a policy in line with the Data Protection Act, which gives you the right to control the future use of photographs or video recordings taken of you/your child during the course of the treatment. The photographs/ video recordings will be part of your/your child’s medical record and may be used for teaching of medical, paramedical and nursing staff as well as medical students, or for specific other use as detailed below,</p>
  
            <center><strong>Medical Photography in the Trust by staff other than Medical Illustration</strong></center>
  
               I   (Clinician's name )  confirm that I have registered with Medical Illustration that the photography and the storage of the resulting images will take place in line with the Trust’s Policy for making and using illustrative clinical records of patients, and I will take the appropriate photographs in a dignified manner, using equipment approved by medical illustration.<br><br>

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}

                 {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                             </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <a class="btn btn-secondary" href="{% url 'get_patient_information' patient.patient_id %}"> Back </a>
        <button class="btn btn-success" type="submit" >Save</button>
        <a class="btn btn-secondary" href="{% url 'get_consentss' patient.patient_id %}">Next</a>
    </form>
{% endblock %}

