{% extends 'form/base.html' %}

{% block title %}
    Test Page
{% endblock %}

{% block breadcrumb %}
    Test Page
{% endblock %}

{% block content %}
    <form action = "medclerk/" method = "POST">
        {% csrf_token %}
        {% if questions %}
                <ul>
                    {% for q in questions %}
                        <li>{{ q.question_text }}</li>
                                <input type="text" name="clinician" id="answer{{q.id}}">
                    {% endfor %}
                </ul>
                    {% else %}
                <p>No questions are available.</p>
        {% endif %}
        <p>Press submit to go to /medclerkpresed form</p>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
