{% extends 'form/base.html' %}

{% block title %}
    Patient Information
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">
    {{patient.name}}
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                Part I: Pre-Injection
            </p>
            <a href="#" class="list-group-item list-group-item-action">
                Patient Details
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                Part II: Injection
            </p>
            <a href="#" class="list-group-item list-group-item-action">
                Treatment Plan
            </a>
            <a href="{% url 'get_med_clerk_pre_sed' patient_id %}" class="list-group-item list-group-item-action">
                Medical Clerking, Pre-Sedation
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                Part III: Post-Injection
            </p>
            <a href="#" class="list-group-item list-group-item-action">
                Post-Injection Follow Up I
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Post-Injection Follow Up II
            </a>
        </div>
    </div>
    <div class="col-6">
        <div class="list-group">
            <p class="list-group-item list-group-item-action active">
                Part VI: Conclusion
            </p>
            <a href="#" class="list-group-item list-group-item-action">
                Conclusion of Treatment
            </a>
        </div>
    </div>
</div>

{% endblock %}


